/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
}
/* --------------------------------------------------------------------
                        CUSTOM STYLES
------------------------------------------------------------------------*/
/* Font for the entire website */
html{
    font-family: 'Open Sans', sans-serif;
}
/* colours that are used throughout the website */
:root{
	--primary-color: #ffffff;
	--secondadry-color: #C57B57;
	--text-color: #000000;
    --text-white: #ffffff;
    --hover-states: #6b818c;
    --card-color: #C57B57;
	}
 /* removing the underline from the links to allow for proper styling */
a{
    text-decoration: none;
}
/* allowing the user to know what link they are about to click */
.link-color:hover{
    color: var(--secondadry-color);
}
/* Centering the navigation for mobile to be easy to read and follow */
.navbar-light .navbar-nav .nav-link{
    color: var(--text-color);
    font-size: 1.75rem;
    text-align: center;
}
/* Making the links interactive when extended to desktop */
.navbar-light .navbar-nav .nav-link:hover{
    color: var(--secondadry-color);
} 
.logo{
    width: 100%;
    height: auto;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-hover{
    color: var(--text-color);
    font-size: 2.5rem;
    margin-left: 15px;
    margin-right: 15px;
}
.nav-hover:hover{
    color: var(--secondadry-color);
}
 /*--------------------------------------------
             Mobile Styles - Landing
 -----------------------------------------------*/
/* Setting the background color for the landing page to add visual interest */
.background-color{
    background-color: var(--primary-color);
}
hr.hr{
    height: 11px;
    background-color: #000000;
    border: none;
    margin-left: 35px;
    margin-right: 35px;
}
/* making my profile picture responsive */
.profile-pic{
    width: 100%;
    height: auto;
}
/* aligning the text in the center to make it look visually appealing for mobile */
.hello, .landingpage-intro{
    color: var(--text-color);
    text-align: center;
}
.hello{
    font-size: 4rem;
}
/* Adding padding to make sure there is space between the picture and text */
.landingpage-intro{
    padding-top: 30px;
    font-size: 3rem;
    font-weight: 100;
}
/* Making the button look visually appealing */
.welcome{
    background-color: var(--secondadry-color);
    color: var(--primary-color);
    font-size: 2rem;
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px; 
    border-radius: 85px;
    border: none;
}
/* adding hover states to make it more interactive for the user */
.welcome:hover{
    background-color: var(--hover-states);
}
/*--------------------------------------------
             Mobile Styles - Home
 -----------------------------------------------*/
 /*  adjusting the size of the logo to prevent it from being to big on the page*/
.logo{
    margin-left: 95px; 
    width: 65%;
}
/* making the helicopter image responsive through all the different states */
.helicopter-image{
    height: 375px;
    width: 100%;
    object-fit: cover;
}
/* making a grid for 1 column and 2 rows to follow to the mobile style layout */
.home-intro{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "one one"
    "two two";
}
.home-grid:nth-child(1){
    grid-area: one;
}
.home-grid:nth-child(2){
    grid-area: two;
    text-align: center;
}
/* centering the content to be visually appealing in mobile */
.home-intro{
    padding: 50px;
} 
/* setting a fixed width and height of the image since the original was a rectangle */
.camera{
    max-width: 100%;
    object-fit: cover; 
    padding-bottom: 10px;
} 
/* Setting the size and color to belong with the theme of the website */
.title-home{
    color: var(--secondadry-color);
    font-size: 4rem;
    text-align: center;
    padding-bottom: 10px;
}
/* Allowing the text to be read easily */
.about-text-home{
    line-height: 30px;
    width: 100%;
    font-size: 1.2rem;
}
/* Styling the button so it looks appropriate on mobile */
.button-home{
    border: none;
    background-color: transparent;
    height: 80px;
    margin-bottom: 50px;
    margin-top: 45px; 
    background-color: var(--secondadry-color);
    color: var(--text-white);
    font-size: 2rem;
    padding-top: 8px;
    padding-bottom: 25px;
    padding-left: 45px;
    padding-right: 45px ;
    border-radius: 55px;
    border: none;
    text-decoration: none;
} 
/* adding an animation to make it more engaging for the user */
.button-home:hover{
    background-color: var(--hover-states); 
}
/* Making the text ontop of the banner to be easily read by the user */
.banner{
    height: 300px;
    background-color: var(--primary-color);
    color: var(--text-color);
}
/* Making sure the text stays inside the banner when resizing to tablet and desktop */
.banner-text{
    line-height: 45px;
    font-size: 2rem;
    padding-top: 50px;
    text-align: center;
    margin: 30px;
}
/* Creating a favourites section to show the user a few examples of my work before they go to the about page */
.favourites{
    color: var(--secondadry-color);
    font-size: 3rem;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
}
/* Making the images the same height and width as each of them are designed at different widths and height */
.home-favourites{
    height: 274px;
    width: 274px;
    object-fit: cover;
    margin-top: 15px;
}
/* Making sure that there is space below to avoid the images touching the footer */
.favorite-section{
    margin-bottom: 75px;
}
/* Footer styles for all the pages */
footer{
    background-color: var(--primary-color);
    height: 150px;
}
/* Shifting the links to the right to allow for a balanced footer */
.footer-nav{
    display: flex;
    justify-content: flex-end;
}
/* making the footer nav be consistent with my colour scheme */
.link-color{
    color: var(--text-color);
    text-decoration: none;
    padding-left: 25px;
    padding-right: 30px;
    position: relative;
    bottom: 30px;
}
/* Making sure the social medias are big enough for the user to click on */
.socialmedia-icons{
    max-width: 75px;
    padding-left: 30px;
    padding-top: 45px;
    display: inline;
    padding-top: 30px;
}
/* Making sure the copy right lines up with the site links */
.copyright{
    display: flex;
    justify-content: flex-end;
    color: var(--text-color);
    padding-right: 30px;
    padding-top: 20px;
}
/*--------------------------------------------
             Mobile Styles - About
 -----------------------------------------------*/
 /* making the heading match the color scheme of the site */
 .title-about{
     color: var(--secondadry-color);
     font-size: 4rem;
     font-weight: 500;
     margin-top: 30px;
     margin-bottom: 10px;
     font-weight: 600;
     text-align: center;
 }
 /* setting a fixed height and width to make sure the image stays the say through the different states */
 .circle-profile{
     height: 450px;
     width: 450px;
     object-fit: cover;
     display: block;
     margin-right: auto;
     margin-left: auto;
}
/* Allowing the text to be easily read by any user */
 p.about-text{
     text-align: center;
     margin-left: 30px;
     padding-right: 35px;
     margin-bottom: 45px;
     line-height: 25px;
 }
 /* alligning the text in the center to be easy to read on mobile */
 .banner-about{
     height: 500px;
     text-align: center;
 }
 /* Setting the font size and height to be appropriate on mobile devices */
 .aboutme{
    font-size: 1.4rem;
    line-height: 45px;
    padding-top: 30px;
    text-align: center;
    margin: 30px;
 }
 /* centering the button with the text to follow the mobile styles */
 .outside-downlaod{
     border: none;
     background-color: var(--secondadry-color);
     font-size: 2rem;
     margin-left: 10px; 
     margin-top: 30px;
     margin-bottom: 100px;
     padding-top: 15px;
     padding-bottom: 15px;
     padding-left: 55px;
     padding-right: 55px;
     border-radius: 85px;
     color: var(--primary-color);
 }
 /* Making the "download" interactive for the user */
 .outside-downlaod:hover{
     background-color: var(--secondadry-color);
     animation-name: button-transition;
     animation-duration: 2s;
    }
    @keyframes button-transition {
       from {background-color: var(--secondadry-color)}
       to {background-color: var(--hover-states)}
     }
 /* making the photography and graphic design heading the same to have consistency */
 .second-heading, .graphic-heading{
     color: var(--secondadry-color);
     font-size: 2.5rem;
     margin-top: 30px;
     margin-bottom: 20px;
     font-weight: 600;
     text-align: center;
 }
 /* Making sure the images for both photography and the artwork are the same size */
.photograph-images{
    height: 285px;
    width: 285px;
    object-fit: cover;
    margin-bottom: 20px; 
}
/* Centering my image to be pleasing to the eye */
.photo-image{
    text-align: center;
}
/* Setting a fixed height and width to avoid the graphic images being different sizes */
.card{
    height: 285px;
    width: 285px;
    object-fit: cover; 
}
/* Setting the background and centering the text */
.card-body{
    background-color: var(--card-color);
}
.card-text{
    color: var(--text-white);
    text-align: center;
}
/* Adding spacing to the bottom of the container to avoid the cards  */
.container{
    padding-bottom: 40px;
} 
/*--------------------------------------------
             Mobile Styles - Contact
 -----------------------------------------------*/
 /* Making the title consistent with my theme */
 .title{
     color: var(--secondadry-color);
     margin-left: 115px;
     font-size: 2.5rem;
     margin-left: 115px;
     margin-top: 30px;
     margin-bottom: 20px;
     font-weight: 500;
 }
 /* Setting a max width to avoid the feilds being to long */
 .contact-form{
     max-width: 70%;
     margin-left: 70px;
 }
 h1.title{
     margin-left: 70px;
     color: var(--text-color);
 }
 /* making the form lables be consistent with my theme */
 .form-label{
     color: var(--text-color);
     padding-top: 15px;
     font-weight: 600;
 }
 .text-area{
     resize: none;
     width: 100%;
     height: 250px;
 }
 /* making the button be consistent with the theme */
.button{
    margin-top: 30px;
    margin-bottom: 50px;
    border: none;
    background-color: var(--secondadry-color);
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 75px;
    font-size: 1.5rem;
    color: var(--text-white);
}
/* Making the submit button interactive for user engagement */
.button:hover{
    background-color: var(--secondadry-color);
    animation-name: grow;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes grow{
    50% {transform: scale(1.2);}
}
/*--------------------------------------------
             Tablet Styles
 -----------------------------------------------*/
 @media only screen and (min-width: 768px){
    /* ------------------
        Landing Page
    -----------------*/
    /* Setting the font size to be appropriate for tablet */
    .hello{
        font-size: 4.2rem;
    }
    /* making sure the text doesnt overlap my image */
    .welcome{
        margin-left: 45px;
    }
    .intro{
        padding-top: 250px;
    }
    /* making my image bigger for tablet to be pleasing to the eye */
    img.profile-pic.img-fluid{
        width: 100%;
        transform: scale(1.2);
        padding-top: 190px;
        padding-bottom: 10px;
    }
    /* Alligning the text and adding margin to make it look visually appealing */
    h1.hello, h2.landingpage-intro{
        text-align: left;
    }
    button.welcome{
        margin-left: 5px;
    }
    /* ------------------
        Home Page
    -----------------*/
    /* pushing the logo to the left hand side */
    .logo{
        margin-left: 0px;
    }
    /* Setting a fixed witdth and height to make the image look viusllay appealing */
    .camera{
        height: 356px;
        width: 356px;
        object-fit: cover;
    }
    /* allowing the button to line up with the text */
    .button-home{
        margin-left: 2px;
    }
    /* making the camera and text look visually appealing in tablet */
    .home-intro{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
        "one two";
    }
    .home-grid:nth-child(1){
        grid-area: one;
    }
    .home-grid:nth-child(2){
        grid-area: two;
        text-align: left;
    }
    /* lining up the image with the text */
    img.camera{
        margin-bottom: 50px;
    }
    /* lining the title, and text to be visually appealing */
    .about-text-home{
        text-align: left;
        line-height: 25px;
        line-height: 30px;
        font-size: 1.2rem;
    }
    .title-home{
        text-align: left;
    }
    .banner-text{
        padding-top: 75px;
        margin-left: 20px;
        margin-right: 30px;
    }
     /* ------------------
        About Page
    -----------------*/
    /* pushing the navigation to the left instead of having it beside the logo */
    .navbar-light .navbar-nav .nav-link{
        display: flex;
        justify-content: flex-end;
        padding-right: 35px;
    }
    /* using flex to have my image and text horizontally allign with each other */
    .aboutme-section{
        display: flex;
        margin-bottom: 75px;
    }
    .circle-profile{
        height: 450px;
        width: 450px;
        object-fit: cover;
        margin-top: 50px;
        margin-left: 20px;
    }
    /* adding padding to ensure the text lines up with my image */
    .about-text{
        padding-top: 125px;
    }
    /* Making the images the same size to prevent awkward different sizes in each card */
    .card-img{
        width: 286px;
        height: 286px;
        object-fit: cover;
    }
    /* ------------------
        Contact Page
    -----------------*/
    /* adding a margin to make the form look pleasing for tablet */
    .form{
        margin-left: 100px;
    }
}
/*--------------------------------------------
             Desktop Styles
 -----------------------------------------------*/
 @media only screen and (min-width: 992px){
/* ---------------------------
        Navigation
----------------------------*/
.logo-nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
    "one two three four";
}
.logo-nav:nth-child(1){
    grid-area: one;
}
.logo-nav:nth-child(2){
    grid-area: two;
}
.logo-nav:nth-child(3){
    grid-area: three;
}
.logo-nav:nth-child(4){
    grid-area: four;
}
/* ---------------------------
        Landing page
----------------------------*/
    button.welcome:hover{
        background-color: var(--hover-states);
    }
    /* Growing my image to be an appropriate size on the desktop */
    img.profile-pic.img-fluid{
        max-width: 50%;
        transform: scale(2);
    }
    /* ---------------------------
            Home Page
    ----------------------------*/
    /* Making the nav be on the left hand side instead of having it to the right of the logo to look visually appealing */
    .navbar-light .navbar-nav .nav-link{
        display: flex;
        justify-content: flex-end;
    }
    /* Making the navigation be on the right hand side of the page */
    div.collapse.navbar-collapse{
        display: flex;
        justify-content: flex-end;
    }
    /* Using object-position to have the helicopter be visible at all times */
    img.helicopter-image{
        height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: 40% 67%;
    }
    /* Making a grid to be pleasing to the eye in desktop */
    .home-intro{
        padding: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
        "one two";
    }
    .home-grid:nth-child(1){
        grid-area: one;
        text-align: center;
    }
    .home-grid:nth-child(2){
        grid-area: two;
        text-align: left;
    }
    /* Adding padding to the bottom to avoid the text overlapping the text */
    .title-home{
        padding-bottom: 10px;
    }
    /* alligning the text to line up with the button and heading */
    .about-text-home{
        line-height: 40px;
        text-align: left;
        font-size: 1.2rem;
    }
    /* ensuring my banner text looks appropriate in desktop styles */
    .banner-text{
        padding-top: 75px;
        margin-left: 200px;
        margin-right: 200px;
    }
 /* ---------------------------
        About Me 
----------------------------*/
/* making the title not touch the navigation */
    .title-about{
        margin-top: 50px;
    }
    /* making the text look appropriate for desktop styles */
    p.about-text{
        line-height: 35px;
    }
    /* ensuring the text doesn't be full width */
    .aboutme-section{
        margin-left: 75px;
        margin-right: 75px;
    }  
    /* allow the text to look approprate for desktop styles */
    .aboutme{
        padding-top: 45px;
     }
     .about-text{
         font-size: 1.3rem;
     }
     /* allowing the button to look appropriate in the banner */
     .outside-downlaod{
        height: 100px;
        margin-right: 170px;
        margin-top: 150px;
    }
    /* adding a hover to allow for user interactvity */
    .outside-downlaod:hover{
        background-color: var(--hover-states);
    }
    /* using flex to horizontally align items in the banner */
    .banner-about{
        display: flex;
        height: 425px;
    }
    /* ---------------------------
        Contact Page
    ----------------------------*/
    /* centering the contact form */
    .form{
        margin-left: 250px;
        margin-top: 60px;
    } 
    /* making a grid to avoid all the feilds being stacked ontop of each other for desktop styles */
    .contact-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "one two"
        "three four";
    }
    .mb-2:nth-child(1){
        grid-area: one;
    }
    .mb-2:nth-child(2){
        grid-area: two;
    }
    .mb-2:nth-child(3){
        grid-area: three;
    }
    .mb-2:nth-child(4){
        grid-area: four;
    }
    /* avoiding the feilds from touching each other */
    .first-name, .email{
        max-width: 97%;
    }
    }